<div class="dashboard-container" [class.dark-mode]="darkMode">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo">
      <h2>H+ Medical</h2>
      <span>Panel Médico</span>
    </div>

    <nav>
      <a 
        [class.active]="selectedSection === 'citas'"
        (click)="changeSection('citas')">
        <mat-icon>event</mat-icon> Citas
      </a>

      <a [class.active]="selectedSection === 'pacientes'" (click)="changeSection('pacientes')">
        <mat-icon>people</mat-icon> Pacientes
      </a>

      <a [class.active]="selectedSection === 'formulario'" (click)="changeSection('formulario')">
        <mat-icon>assignment</mat-icon> Formulario Consulta
      </a>

      <a [class.active]="selectedSection === 'perfil'" (click)="changeSection('perfil')">
        <mat-icon>person</mat-icon> Perfil Pacienteee
      </a>
    </nav>

    <button mat-raised-button color="warn"
      (click)="logout()" class="logout-btn">
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>

  </aside>

  <!-- CONTENIDO -->
  <main class="content">

    <!-- HEADER -->
    <header class="top-header">
      <div>
        <h1>Gestión de Citas</h1>
        <p>Dr. Moscatti • Cardiología</p>
      </div>

      <div class="header-right">
        <button mat-icon-button (click)="toggleDarkMode()">
          <mat-icon>{{ darkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>

        <div class="status-indicator"></div>
        <span>En línea</span>
        <mat-icon>account_circle</mat-icon>
      </div>
    </header>

    <!-- TARJETAS -->
    <section class="medical-stats" *ngIf="selectedSection === 'citas'">

      <div class="stat-card">
        <h3>{{ totalCitasHoy }}</h3>
        <p>Citas Hoy</p>
      </div>

      <div class="stat-card">
        <h3>{{ citasPendientes }}</h3>
        <p>Pendientes</p>
      </div>

      <div class="stat-card">
        <h3>{{ citasCanceladas }}</h3>
        <p>Canceladas</p>
      </div>

      <div class="stat-card highlight premium-next">
        <div class="next-content">
          <div>
            <h3>{{ proximaCita }}</h3>
            <p>Próxima Cita</p>
          </div>
          <mat-icon>schedule</mat-icon>
        </div>
      </div>

    </section>

    <!-- TABLA CITAS -->
    <div class="table-container" *ngIf="selectedSection === 'citas'">

      <table>
        <thead>
          <tr>
            <th>Nombre Completo</th>
            <th>Edad</th>
            <th>NSS</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>
<tr *ngFor="let cita of paginatedCitas">
  <td class="patient-name">
    {{ cita.nombrePaciente }}
  </td>

  <td>
    {{ calcularEdad(cita.fechaNacimiento) }}
  </td>

  <td>
    {{ cita.nss }}
  </td>

  <td>
    {{ cita.fecha }}
  </td>

  <td>
    {{ cita.hora }}
  </td>

  <td>
    <button mat-flat-button color="warn" class="cancel-btn"
      (click)="openCancelDialog(cita)">
      Cancelar
    </button>
  </td>
</tr>
        </tbody>
      </table>

      <mat-paginator
        [length]="citas.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="handlePageEvent($event)">
      </mat-paginator>

    </div>

    <!-- TABLA PACIENTES -->
    <div class="table-container" *ngIf="selectedSection === 'pacientes'">

      <table>
        <thead>
          <tr>
            <th>Nombre Completo</th>
            <th>NSS</th>
            <th>Contacto / Teléfono</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let paciente of paginatedPacientes">
            <td>{{ paciente.firstName }} {{ paciente.lastName }}</td>
            <td>{{ paciente.nationalHealthId || '-' }}</td>
            <td>{{ paciente.phone }}</td>
            <td>
              <button mat-flat-button color="primary" 
                      (click)="descargarExpediente(paciente.id)">
                Visualizar Expediente
              </button>
            </td>
          </tr>

          <tr *ngIf="pacientes.length === 0">
            <td colspan="4" style="text-align:center; padding:30px;">
              No hay pacientes registrados.
            </td>
          </tr>
        </tbody>
      </table>

      <mat-paginator
        [length]="pacientes.length"
        [pageSize]="pageSizePacientes"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="handlePageEvent($event)">
      </mat-paginator>

    </div>

    <!-- FORMULARIO DE CONSULTA -->
    <div class="form-consulta-container" *ngIf="selectedSection === 'formulario'">

      <h2>Formulario de Consulta</h2>
      
      <div class="form-scroll">
      <form class="consulta-form" (ngSubmit)="guardarConsulta()" #consultaForm="ngForm">

        <!-- Datos Paciente -->
        <fieldset>
          <legend>Datos del Paciente</legend>
          
          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="consulta.pacienteNombre" name="pacienteNombre" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput [(ngModel)]="consulta.pacienteApPaterno" name="pacienteApPaterno" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Apellido Materno</mat-label>
              <input matInput [(ngModel)]="consulta.pacienteApMaterno" name="pacienteApMaterno" required>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [(ngModel)]="consulta.fechaNacimiento" name="fechaNacimiento" type="date" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Sexo</mat-label>
              <mat-select [(ngModel)]="consulta.sexo" name="sexo" required>
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Femenino</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Tipo de Sangre</mat-label>
              <mat-select [(ngModel)]="consulta.tipoSangre" name="tipoSangre" required>
                <mat-option *ngFor="let t of tiposSangre" [value]="t">{{t}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-row">
            <mat-form-field appearance="fill">
              <mat-label>Teléfono</mat-label>
              <input matInput [(ngModel)]="consulta.telefono" name="telefono" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Correo</mat-label>
              <input matInput [(ngModel)]="consulta.correo" name="correo" type="email" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Teléfono de Emergencia</mat-label>
              <input matInput [(ngModel)]="consulta.telefonoEmergencia" name="telefonoEmergencia" required>
            </mat-form-field>
          </div>
        </fieldset>

        <!-- Antecedentes -->
        <fieldset>
          <legend>Antecedentes Médicos</legend>
          <div class="form-row">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Heredofamiliares</mat-label>
              <textarea matInput rows="2" [(ngModel)]="consulta.antHeredofamiliares" name="antHeredofamiliares"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Patológicos</mat-label>
              <textarea matInput rows="2" [(ngModel)]="consulta.antPatologicos" name="antPatologicos"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Quirúrgicos</mat-label>
              <textarea matInput rows="2" [(ngModel)]="consulta.antQuirurgicos" name="antQuirurgicos"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Alergias</mat-label>
              <textarea matInput rows="2" [(ngModel)]="consulta.antAlergicos" name="antAlergicos"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Enfermedades Crónicas</mat-label>
              <textarea matInput rows="2" [(ngModel)]="consulta.enfCronicas" name="enfCronicas"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Gineco-obstétricos</mat-label>
              <textarea matInput rows="2" [(ngModel)]="consulta.antGinecoObstetricos" name="antGinecoObstetricos"></textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Observaciones</mat-label>
              <textarea matInput rows="2" [(ngModel)]="consulta.observaciones" name="observaciones"></textarea>
            </mat-form-field>
          </div>
        </fieldset>

        <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Guardar Consulta</button>
      </div>
    </form>
  </div>

</div>

  </main>

</div>